# MA22M019
SOHIT PATHAK

1. Write a program to print numbers divisible by both 6 and 7. Numbers between 1
and 500.
[Numbers like 42, which are both divisible by 6 and 7]
a. Using continue statement
b. Using the pass statement

In [2]:
# using pass
for i in range(2,500):
    if (i%6==0) and (i%7==0):
        print(i)
    else:    
        pass

42
84
126
168
210
252
294
336
378
420
462

In [4]:
#using continue
for i in range(2,500):
    if (i%6!=0) or (i%7!=0):
        continue
    else:
        print(i)

42
84
126
168
210
252
294
336
378
420
462

2.. Number 1111122221111222 has been given. Print the addition of all even digits
and the addition of all odd digits.
[Sample input = 156893, Sample Output: sum_even = 14
sum_odd = 18]

In [21]:
even_count = 0
odd_count = 0
n = 1111122221111222
while (n != 0):
        rem = n % 10
        if (rem % 10 == 2):
            n//=10
            even_count += 1
        elif (rem % 10 == 1) :
            n//=10
            odd_count += 1
print((2*even_count))
print(odd_count)

14
9

4. Triangle Number Pattern: Print the following pattern for the given N number of
rows.
Sample Example:

Pattern for N = 4
1
22
333
4444

In [20]:
n = int(input("Enter number of rows: "))

for i in range(1,n+1):
    for j in range(1, i+1):
        print(i, end="")
    print()

Enter number of rows: 4
1
22
333
4444

3. Describe conditional expression. Write a program to print the maximum and
minimum numbers from a list using conditional expression. Use the max () and
min () functions to verify your output

In [22]:
#a conditional statement is a set of rules performed if a certain condition is met
lst=[10,11]
for ele in lst:
    maxi = lst[0] if lst[0] > lst[1] else lst[1]
print('max value  using conditional expression is ', maxi)

max value  using conditional expression is  11

In [23]:
lst=[10,11]
for ele in lst:
    mini = lst[0] if lst[0] < lst[1] else lst[1]
print('min value  using conditional expression is ', mini)

min value  using conditional expression is  10

5. A palindrome sentence is a phrase or sentence that reads the same forwards as
it does backwards, ignoring spaces, punctuation, and capitalization.
A) Take a number as input, determine if it is a palindrome, considering only
alphanumeric characters. Eg: 1331

B) Now, take a string as an input and check whether if it is Palindrome or not.
eg: 'A man, a plan, a canal, Panama'

In [33]:

 
 

s = (input())

 
if s==s[::-1]:
    print("Yes")
else:
    print("No")

1441
Yes

In [45]:
import re
t = 'MaLayAlam'
t = re.sub(r'[^\w\s]','',t)
t= t.rstrip("w.")
t=t.lower()
if t==t[::-1]:
    print("Yes")
else:
    print("No")

Yes

6. Describe chr () and ord () functions. Write a small program to show its
functionality.Using these functions,write a program to print:

Pattern for N=4
A
B B
C C C
D D D D

# Python ord() function takes string argument of a single Unicode character and return its integer Unicode code point value
# Python ord() and chr() are built-in functions. They are used to convert a character to an int and vice versa. Python ord() and chr() functions are exactly opposite of each other.

In [46]:
y = chr(65)
print(y)
print(chr(123))
print(chr(36))

A
{
$

In [47]:
x = ord('A')
print(x)

print(ord('ć'))
print(ord('ç'))
print(ord('$'))

65
263
231
36

In [ ]:
#Using these functions,write a program to print:

In [90]:
n = 4
for i in range(1, n + 1):
        for j in range(1, i + 1):
            print(chr(ord('A') + i - 1),
                             end = " ")
 
        print("")

A
B B
C C C
D D D D

7. Write a program to perform the following tasks: (a) Create a list of airline
tickets, each containing the name of the passenger, ticket number, departure
date, and flight distance. (b) Insert a new ticket into the list while maintaining
alphabetical order of passenger names. (c) Search for a specific passenger by
name and remove their ticket information from the list. (d) Add a new ticket to
the beginning of the list with inputted passenger information. (e) Detect and
eliminate duplicate tickets, keeping only one instance of each. (f) Sort the entire
list of tickets in alphabetical order by passenger name

In [1]:
air1 = ['ram','h1','1/1/2023',29]
air2 = ['sita','h2','2/2/2023',92]
air3 = ['umair','h3','3/2/2023',50]
air4 = ['sita','h2','2/2/2023',92]
air5 = [air1,air2,air3,air4]

print(air5)

[['ram', 'h1', '1/1/2023', 29], ['sita', 'h2', '2/2/2023', 92], ['umair', 'h3', '3/2/2023', 50], ['sita', 'h2', '2/2/2023', 92]]

In [2]:
# air6 is new ticket and i will insert it 
air6 = ['jaggu','h5','4/5/2023',33] 
air5.insert(2,air6)

print(air5)

[['ram', 'h1', '1/1/2023', 29], ['sita', 'h2', '2/2/2023', 92], ['jaggu', 'h5', '4/5/2023', 33], ['umair', 'h3', '3/2/2023', 50], ['sita', 'h2', '2/2/2023', 92]]

In [3]:
#now it will be in alphabatical order of passenger name
sorted(air5)

[['jaggu', 'h5', '4/5/2023', 33],
 ['ram', 'h1', '1/1/2023', 29],
 ['sita', 'h2', '2/2/2023', 92],
 ['sita', 'h2', '2/2/2023', 92],
 ['umair', 'h3', '3/2/2023', 50]]

In [4]:
# search in list then remove it
my_list = air5
for x in air5:
    if 'jaggu' in x[0]:
        air5.remove(x)
print(air5)

[['ram', 'h1', '1/1/2023', 29], ['sita', 'h2', '2/2/2023', 92], ['umair', 'h3', '3/2/2023', 50], ['sita', 'h2', '2/2/2023', 92]]

In [5]:
# add a new ticket in begining
air7 = ['sharma','h8','1/9/2023',77]
air5.insert(0,air7)
print(air5)

[['sharma', 'h8', '1/9/2023', 77], ['ram', 'h1', '1/1/2023', 29], ['sita', 'h2', '2/2/2023', 92], ['umair', 'h3', '3/2/2023', 50], ['sita', 'h2', '2/2/2023', 92]]

In [6]:
# detect and remove duplicate list
arr=[]
for i in air5:
    
    if i  not in arr:
        arr.append(i)
    else:
        air5.remove(i)
print(air5)

[['sharma', 'h8', '1/9/2023', 77], ['ram', 'h1', '1/1/2023', 29], ['umair', 'h3', '3/2/2023', 50], ['sita', 'h2', '2/2/2023', 92]]

In [7]:
# sort the ticket in alphabatically
sorted(air5)

[['ram', 'h1', '1/1/2023', 29],
 ['sharma', 'h8', '1/9/2023', 77],
 ['sita', 'h2', '2/2/2023', 92],
 ['umair', 'h3', '3/2/2023', 50]]

8. Write a program using list comprehension
a) To add the corresponding elements of two lists and print the new list
b) To perform element wise multiplication of two lists and print the new
list.
c) To create a list of the unique characters of a given string. Eg: input =
‘even’ output = [‘e’, ‘v’, ‘n’]

In [8]:
l = [1,2,3,4]
i = [3,4,5,6]
ltt= [l[k]+i[k] for k in range(len(l))]
print(ltt)
lt1= [l[k]*i[k] for k in range(len(l))]
print(lt1)

[4, 6, 8, 10]
[3, 8, 15, 24]

In [73]:

it2=[(l[k]*(i[0]) ) for k in range(len(l))]
it3=[l[k]*(i[1])  for k in range(len(l))]
it4=[l[k]*(i[2])  for k in range(len(l))]
it5=[l[k]*(i[3])  for k in range(len(l))]
it6=[*it2,*it3,*it4,*it5]
print(it6)

[3, 6, 9, 12, 4, 8, 12, 16, 5, 10, 15, 20, 6, 12, 18, 24]

In [75]:
str = 'absbsbs'
unique = []
for c in str:
    if not c in unique:
        unique.append(c)
print(unique)

['a', 'b', 's']

9. Using the concept of list of lists, WAP
a) To add the elements of 2 matrices (Define matrices as per your wish).
b) To perform element wise multiplication on 2 matrices.

In [97]:
list1 = [[1,2,3],[2,3,4]]
list2 = [[2,1,1],[2,3,3]]
list3=[]
list5=[]
for i in range(0, 2):
    list4=[]
    list6=[]
    for k in range(0, 3):
        list4.append(list1[i][k] + list2[i][k])
        list6.append(list1[i][k] * list2[i][k])
    list3.append(list4)
    list5.append(list6)
    
print(list3,list5)

[[3, 3, 4], [4, 6, 7]] [[2, 2, 3], [4, 9, 12]]

10. Explore print statement using formatted strings and write a program to
demonstrate them

The format() method formats the specified value(s) and insert them inside the string's placeholder

In [91]:
txt1 = "My name is {fname}, I'm {age}".format(fname = "John", age = 36)
print(txt1)

My name is John, I'm 36

 WAP to find the maximum of 3 numbers using a nested conditional
expression. (No loops should be used)

In [102]:
# ques11
a= 100
b= 200
c = 300

max= a if a>b else b
maxi = max if max>c else c
    
print('max value  using conditional expression is ', maxi)

max value  using conditional expression is  300