# sohit pathak
ma22m019

Find out the applicable methods for the list but not tuples. List them out.

In [1]:
# list are mutable but tuple  is not
ae = [1,2,3,4]
ae[2]='9'
print(ae)

[1, 2, '9', 4]

In [2]:
## list are mutable but tuple  is not
# no directly tuple comprehension but list comprehension is there
# we can not use pop function in tuple but we can use in list
# we can not use insert function in tuple but we can use in list
# we can not use append function in tuple but we can use in list
# we can not use remove function in tuple but we can use in list

In [3]:
a = (1,2,3,4,5)
b = [ 1,4,3,2,6]

In [6]:
a.pop()

AttributeError: 'tuple' object has no attribute 'pop'

# clearly you may see pop is not working in tuple bcz of immutability

In [8]:
b = [ 1,4,3,2,6]
b.pop()
b

[1, 4, 3, 2]

In [9]:
b = [ 1,4,3,2,6]
b.append(22)
b

[1, 4, 3, 2, 6, 22]

# clearly you may see append  is not in tuple working bcz of immutability

In [10]:
a = (1,2,3,4,5)
a.append(22)

AttributeError: 'tuple' object has no attribute 'append'

2)    Write a code snippet in Python that takes a string as input and returns a tuple of tuples. Each inner tuple should contain a character from the input string and its corresponding ASCII value.

[   Sample example: Input_string = "Hello"

                                     Output_tuple = (('H', 72), ('e', 101), ('l', 108), ('l', 108), ('o', 111))   ]

In [29]:
n = input('input a string: ')
aq=[]
for i in n:
    aq.append(ord(i))

m = tuple(n)
b = tuple(aq)
ite = zip(m,b)
itt = tuple(ite)
print(itt)

input a string: helo
(('h', 104), ('e', 101), ('l', 108), ('o', 111))

3)    Create a program that takes a list of tuples containing student name and roll number and returns a new list of tuples containing only those tuples whose first element is a vowel (a, e, i, o, u, A, E, I, O, U).

[  Sample example: list_of_tuples = [("ananya", 1), ("Tanvi", 2)]

   Output_list_of_tuples = [("ananya", 1)]

In [43]:
qww = []
qw=[]
tup = (('radha',1),('ram',2),('hari',3),('om',4),('ite',9),('oraa',8))
w = ('a','e','i','o','u','A','E','I','O','U')
for n , m in tup:
    if n[0]  in w:
        qww.append(n)
        qw.append(m)
    else :
        pass
    
m = tuple(qww)
b = tuple(qw)
ite = zip(m,b)
itt = tuple(ite)
print(itt)

(('om', 4), ('ite', 9), ('oraa', 8))

4)     WAP with both ways:  

       (i) Without using Zip but use list comprehension

          a)    For two matrices of size 4X4 each, perform matrix addition, subtraction, trace, transpose and scalar multiplication. 

          b)    For a given matrix, perform row-wise operations such as row addition and column addition.

         

       [ Sample example: matrix = [[1, 2, 3], [4, 5, 6]]

                                          Row_wise_addition = [[6], [15]]


                                          Column_wise_addition = [5, 7, 9]     ]


       (ii) Using Zip ()

           a)  For two matrices of size 4X4 each, perform matrix addition, subtraction, trace, transpose and scalar multiplication.

       (i) Without using Zip but use list comprehension

In [44]:
mat1 = [[1,2,3,1],[11,2,3,3],[4,5,0,2],[5,5,2,3]]
mat2= [[0,1,2,0],[0,1,9,2],[3,7,2,8],[4,0,3,7]]

In [53]:
#addition in two matrices 
arr = [[mat1[i][j] + mat2[i][j]  for j in range(len(mat1[0]))] for i in range(len(mat1))]
print(arr)

[[1, 3, 5, 1], [11, 3, 12, 5], [7, 12, 2, 10], [9, 5, 5, 10]]

In [48]:
# transpose
mat1 = [[1,2,3,1],[11,2,3,3],[4,5,0,2],[5,5,2,3]]
sww = [[mat1[j][i] for j in range(len(mat1))] for i in range(len(mat1[0]))]
print(sww)

[[1, 11, 4, 5], [2, 2, 5, 5], [3, 3, 0, 2], [1, 3, 2, 3]]

In [55]:
#substraction in two matrices
arr = [[mat1[i][j] - mat2[i][j]  for j in range(len(mat1[0]))] for i in range(len(mat1))]
print(arr)

[[1, 1, 1, 1], [11, 1, -6, 1], [1, -2, -2, -6], [1, 5, -1, -4]]

In [58]:
# scalar multiplication
c = int(input('enter constant: '))
arr = [[c*mat1[i][j]  for j in range(len(mat1[0]))] for i in range(len(mat1))]
print(arr)

enter constant: 2
[[2, 4, 6, 2], [22, 4, 6, 6], [8, 10, 0, 4], [10, 10, 4, 6]]

In [110]:
#trace of matrix 1
arr = sum([mat1[i][i] for i in range(len(mat1))])
print(arr)

6

In [117]:
#row sum
mat1 = [[1,2,3,1],[11,2,3,3],[4,5,0,2],[5,5,2,3]]
sum_mat=[[sum(s)] for s in mat1]
sum_mat

[[7], [19], [11], [15]]

In [123]:
#column sum
arr = [sum([mat1[i][j] for i in range(4)]) for j in range(4)]
print(arr)

[21, 14, 8, 9]

(ii) Using Zip ()

In [128]:
# matrix addition using zip
mat1 = [[1,2,3,1],[11,2,3,3],[4,5,0,2],[5,5,2,3]]
mat2= [[0,1,2,0],[0,1,9,2],[3,7,2,8],[4,0,3,7]]
aa = zip(mat1,mat2)
sum_mat1_mat2=[[a[0][i]+a[1][i] for i in range(4)] for a in aa]
sum_mat1_mat2

[[1, 3, 5, 1], [11, 3, 12, 5], [7, 12, 2, 10], [9, 5, 5, 10]]

In [129]:
# matrix substraction using zip
mat1 = [[1,2,3,1],[11,2,3,3],[4,5,0,2],[5,5,2,3]]
mat2= [[0,1,2,0],[0,1,9,2],[3,7,2,8],[4,0,3,7]]
aa = zip(mat1,mat2)
sum_mat1_mat2=[[a[0][i]-a[1][i] for i in range(4)] for a in aa]
sum_mat1_mat2

[[1, 1, 1, 1], [11, 1, -6, 1], [1, -2, -2, -6], [1, 5, -1, -4]]

In [149]:
# trace of matrix1 using zip function
mat1 = [[1,2,3,1],[11,2,3,3],[4,5,0,2],[5,5,2,3]]
axa = zip(*mat1)

cmat_1=[list(a) for a in axa]
arr = sum([cmat_1[i][i] for i in range(4)])
print(arr)

6

In [145]:
# Transpose of matrix using zip function
mat1 = [[1,2,3,1],[11,2,3,3],[4,5,0,2],[5,5,2,3]]
axa = zip(*mat1)

cmat_1=[list(a) for a in axa]  
cmat_1

[[1, 11, 4, 5], [2, 2, 5, 5], [3, 3, 0, 2], [1, 3, 2, 3]]

In [144]:
# scalar multiplication using zip
c = int(input('enter scalar: '))
mat1 = [[1,2,3,1],[11,2,3,3],[4,5,0,2],[5,5,2,3]]
axa = zip(*mat1)
xaa=[[c*i for i in a] for a in axa]
xa = zip(*xaa)
cmat_1=[list(a) for a in xa]  
cmat_1

enter scalar: 7

[[7, 14, 21, 7], [77, 14, 21, 21], [28, 35, 0, 14], [35, 35, 14, 21]]

# 5)    Given a list of numbers, write a Python program to create a set `S` from the list and perform the following operations on the set:

a)    Add an element to the set `S`

b)    Remove an element from the set `S`

c)     Discard an element from the set `S`

d)    Clear all elements from the set `S`

In [87]:

lst = [1,2,3,4,5,6,7,8]
se = set(lst)
print(se)

{1, 2, 3, 4, 5, 6, 7, 8}

In [88]:
se.add(0)
se

{0, 1, 2, 3, 4, 5, 6, 7, 8}

In [94]:
se.remove(3)
print(se)

{0, 2, 5, 6, 7, 8}

In [95]:
se.discard(6)
print(se)

{0, 2, 5, 7, 8}

In [96]:
se.clear()
print(se)

set()

# 6What is a frozenset()? Give examples.

Python frozenset():-
Method creates an immutable Set object from an iterable. It is a built-in Python function. As it is a set object therefore we cannot have duplicate values in the frozenset.

In [98]:
set1 = frozenset({11, 28, 30,30})
set2 = frozenset({45, 110, 60})
fr_sos = {set1, set2}

print('using frozen sets',fr_sos)

using frozen sets {frozenset({60, 45, 110}), frozenset({11, 28, 30})}

#  7Set comprehension: Create a set of all the even numbers between 1 and 10 using set comprehensions.

In [103]:
output = {v for v in range(11)  if v%2 ==0 }
print(output)

{0, 2, 4, 6, 8, 10}