
1. Given a list of integers, write a Python program to:

a) Find the frequency of each integer in the list and store the result in a dictionary.

b) Print the maximum integer and its frequency.

c) Remove duplicates from the list and print the new list without changing the order of elements. Do this operation without using the set data type.

d) Remove duplicates from the list and print the new list without changing the order of elements. Do this operation using the set data type.

In [20]:
#the frequency of each integer in the list and store the result in a dictionary.
def CountFrequency(my_list):
     
   count = {}
   for i in my_list:
    count[i] = count.get(i, 0) + 1
   return count
 
if __name__ == "__main__":
    my_list =[1, 1, 1, 5, 5, 3, 1, 3, 3, 1, 4, 4, 4, 2, 2, 2, 2]
    print(CountFrequency(my_list))

{1: 5, 5: 2, 3: 3, 4: 3, 2: 4}

In [19]:
# the maximum integer and its frequency.
list1 = [9, 4, 5, 4, 4, 5, 9, 5, 4]
g = max(list1)
res = list1.count(g)

print(res)

2

In [25]:
#Remove duplicates from the list and print the new list without changing the order of element, without using the set data type
list1 = [9, 4, 5, 4, 4, 5, 9, 5, 4]

res = []
[res.append(x) for x in list1 if x not in res]    
print(res)

[9, 4, 5]

In [27]:
##Remove duplicates from the list and print the new list without changing the order of element, with using the set data type
list1 = [9, 4, 5, 4, 4, 5, 9, 5, 4]
res= [*set(list1)]
print(res)

[9, 4, 5]

2. Store the employee IDs, names, salaries, and years of experience using nested dictionaries (the key of the highest level dictionary can be the employee ID). 

a) Sort this dictionary using the salary value. 

b) Add a new employee to the dictionary in the correct position (sorted as mentioned above).

In [30]:
dic={'em1':{'name':'ram','salary':200,'expe':2},'ep2':{'name':'shyam','salary':300,'expe':3},'em3':{'name':'radha','salary':100,'expe':1}}

In [32]:
dic

{'em1': {'name': 'ram', 'salary': 200, 'expe': 2},
 'ep2': {'name': 'shyam', 'salary': 300, 'expe': 3},
 'em3': {'name': 'radha', 'salary': 100, 'expe': 1}}

In [37]:
#Sort this dictionary using the salary value
items = sorted(dic.items(), key = lambda dic: dic[1]['salary'])
items

[('em3', {'name': 'radha', 'salary': 100, 'expe': 1}),
 ('em1', {'name': 'ram', 'salary': 200, 'expe': 2}),
 ('ep2', {'name': 'shyam', 'salary': 300, 'expe': 3})]

In [38]:
#Add a new employee to the dictionary
di= {'em4':{'name':'raj','salary':600,'expe':4}}
dic.update(di)

In [39]:
dic

{'em1': {'name': 'ram', 'salary': 200, 'expe': 2},
 'ep2': {'name': 'shyam', 'salary': 300, 'expe': 3},
 'em3': {'name': 'radha', 'salary': 100, 'expe': 1},
 'em4': {'name': 'raj', 'salary': 600, 'expe': 4}}

In [40]:
##Sort this dictionary using the salary value
items = sorted(dic.items(), key = lambda dic: dic[1]['salary'])
items

[('em3', {'name': 'radha', 'salary': 100, 'expe': 1}),
 ('em1', {'name': 'ram', 'salary': 200, 'expe': 2}),
 ('ep2', {'name': 'shyam', 'salary': 300, 'expe': 3}),
 ('em4', {'name': 'raj', 'salary': 600, 'expe': 4})]

3. You are given two Python dictionaries, A and B, with keys as alphabets and values as random integers. Write a Python function to create a third dictionary C, that combines A and B. For common keys, the value in C should be the sum of values from A and B. 

For example, if dictionary A is {"a": 3, "b": 5, "c": 7} and dictionary B is {"b": 2, "c": 4, "d": 6}, the function should return a dictionary C that looks like {"a": 3, "b": 7, "c": 11, "d": 6}.

In [53]:
#or common keys, the value in C should be the sum of values from A and B
x = {'a':1, 'b':2, 'c': 100 ,'d':1}
y = {'b':3, 'd': 20, 'e':200 }
 
# adding the values with common key
for key in y:
    if key in x:
        y[key] = y[key] + x[key]
    else:
        pass
z={}    
z.update(x)
z.update(y)
        
        
         
print(z)

{'a': 1, 'b': 5, 'c': 100, 'd': 21, 'e': 200}

4. Assume you have a list of lists, where each inner list contains two elements: a key and a value. Write a Python function that takes the list of lists as input and returns a list of dictionaries, where each dictionary contains a key-value pair from the original input list.

In [59]:
#returns a list of dictionaries
lis= [[2,'e'],[3,'f'],[4,'r'],[5,'h']]
r = dict()
for s in lis:
    r[s[0]] = s[1]
print(r)

{2: 'e', 3: 'f', 4: 'r', 5: 'h'}

 Write a function to check whether all the members in the list are anagrams of each other. For example: 

              This input ["triangle,” "integral,” "altering"] should return True,

              While [“world,” “hello”, “goodbye”] should return False.

In [88]:
  #check whether all the members in the list are anagrams 

list2= ['integral','altering','triangle']
#list2=["sohit","shito","mhit"]

ele1= sorted(list2[0])

for j in range(1,len(list2)):
    if sorted(list2[j])!=ele1:
        print ("False")
else:
    print("True")

True

6. Write a Python function that calculates the square of a given number. Then, take a list of numbers and use the map() function to apply the square function to each list element. Print the resulting list of numbers and their squares in the form of a dictionary where each key is a number from the original list, and its corresponding value is its square.

[Sample example: numbers = [1, 2, 3, 4, 5]

                                 output dictionary = {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}   ]

In [90]:
# a Python function that calculates the square of a given number
def sq(x):
    y=x*x
    return y
a=4
print(sq(a))

16

In [100]:
def sq(x):
    y=x*x
    return y
lt= [1,2,3,4]
tt= map(sq,lt)
a= list(tt)

dic={}

for x,y in zip(lt,a):
    dic[x]=y

print(dic)

{1: 1, 2: 4, 3: 9, 4: 16}

7. Write a function that takes an integer input from the user and prints Pascal’s Triangle.

Sample input=3

Output:         1

               1    2      1

            1    3     3     1

In [102]:
n = int(input())
 
for i in range(1, n+1):
    for j in range(0, n-i+1):
        print(' ', end='')
    C = 1
    for j in range(1, i+1):
        print(' ', C, sep='', end='')
        C = C * (i - j) // j
    print()

4
     1
    1 1
   1 2 1
  1 3 3 1

8. Write a function:

     That takes a user input (integer, say n) and prints n Fibonacci numbers (inclusively), using recursion and without recursion.

Also, check if the number n is present in the Fibonacci series.

Fibonacci series: 0,1,1,2,3,5,8, where F (0) =0, F (1) =1 and so on.

In [105]:
#using recursion 
def fibonacci_numbers(num):
    if num == 0:
        return 0
    elif num == 1:
        return 1
    else:
        return fibonacci_numbers(num-2)+fibonacci_numbers(num-1)
  
  
n = int(input("Enter the number "))
for i in range(0, n):
    print(fibonacci_numbers(i), end=" ")

Enter the number you want to check
8
0 1 1 2 3 5 8 13

In [108]:
# without recursion
n = int(input("Enter the number" ))
n_1 = 0  
n_2 = 1  
count = 0    
if n <= 0:  
    print ("Please enter a positive integer, the given number is not valid")  
elif n == 1:  
    print ("The Fibonacci sequence of the numbers up to", n, ": ")  
    print(n_1)   
else:  
    print ("The fibonacci sequence of the numbers is:")  
    while count < n:  
        print(n_1)  
        nth = n_1 + n_2   
        n_1 = n_2  
        n_2 = nth  
        count += 1

Enter the number12
The fibonacci sequence of the numbers is:
0
1
1
2
3
5
8
13
21
34
55
89

In [109]:
#check if the number n is present in the Fibonacci series
num=int(input("Enter the number you want to check\n"))
temp=1
k=0
a=0
summ=0
while summ<=num:
    summ=temp+k
    temp=summ
    k=temp
    if summ==num:
        a=a+1
        print("Yes. {} is a fibonnaci number".format(num))
        break
if a==0:
    print("No. {} is NOT a fibonacci number".format(num))

Enter the number you want to check
8
Yes. 8 is a fibonnaci number

9. Write a program:

         a) To filter a list of integers using lambda.

         b) To count even and odd numbers in a given list of integers using lambda.

         c) To sort a list of dictionaries using lambda.

In [111]:
#a) To filter a list of integers using lambda.
n= [1,2,3,4,5,6,7,8]
even = list(filter(lambda x: x%2 == 0, n))
print(even)
odd = list(filter(lambda x: x%2 != 0, n))
print(odd)

[2, 4, 6, 8]
[1, 3, 5, 7]

In [114]:
#To count even and odd numbers in a given list of integers using lambda.
n= [1,2,3,4,5,6,7,8]
even = len(list(filter(lambda x: x%2 == 0, n)))
print(even)
odd = len(list(filter(lambda x: x%2 != 0, n)))
print(odd)

4
4

In [118]:
# To sort a list of dictionaries using lambda.
emp = [{'id':'101', 'name':'umair', 'dep':'cs'}, {'id':'102', 'name':'sohit', 'dep':'Ed'}, {'id':'103', 'name': 'Sahil', 'dep':'math'}]
sorted_emp = sorted(emp, key = lambda x: x['dep'])
print(sorted_emp)

[{'id': '102', 'name': 'sohit', 'dep': 'Ed'}, {'id': '101', 'name': 'umair', 'dep': 'cs'}, {'id': '103', 'name': 'Sahil', 'dep': 'math'}]

10. Query for two integers N and M from the user where 0<=N<=100 and 0<=M<=9. These will be the inputs to your function. Using recursion, compute the number of times the integer M occurs in all non-negative integers less than or equal to N. 

 Example: For N=13 and M=1, count=6 (numbers 1, 10, 11, 12, 13)

In [145]:
n = int(input())
m= input()
def gg(i):
    count=0
    for i in range(1,n+1):
        a = str(i)   
        for ele in a:
            if m==ele:
                count= count+1

    return(count)
s = gg(m)
print(s)

13
1
6

11. Illustrate the usage of positional and keyword arguments using suitable examples.

In [133]:

keyword_dict = {'real': 3, 'imag': 5}
complex(**keyword_dict)

(3+5j)

On using keyword arguments you will get the correct output because the order of argument doesn’t matter provided the logic of your code is correct. But in the case of positional arguments, you will get more than one output on changing the order of the arguments.

In [136]:
#keyword
def nameAge(name, age):
    print("Hi, I am", name)
    print("My age is ", age)
 
nameAge(name="sohit", age=24)
 
nameAge(age=24, name="sohit")

Hi, I am sohit
My age is  24
Hi, I am sohit
My age is  24

In [137]:
#positional
def nameAge(name, age):
    print("Hi, I am", name)
    print("My age is ", age)

print("Case-1:")
nameAge("sohit", 24)
# You will get incorrect output because argument is not in order
print("\nCase-2:")
nameAge(24, "sohit")

Case-1:
Hi, I am sohit
My age is  24

Case-2:
Hi, I am 24
My age is  sohit

12. Write a function to find the minimum of n numbers using variable length positional arguments.

In [146]:
#Write a function to find the minimum of n numbers using variable length positional arguments.
def m(*a):
    minimum = 10**6
    for i in a:
        minimum=min(minimum,i)
    return minimum

print(m(1,2,3,3,4,5,6,7,89,533,4567,7889,222,344445))

1

13. Write a function to concatenate n strings using variable length key word arguments.

In [150]:
#a function to concatenate n strings using variable length key word arguments
def c(**kewarg):
    st=""

    for k, v in kewarg.items():
        st=st+v
    
    return st

print(c(one="I", two="love", thr="this", fr="class"))

Ilovethisclass

14. Describe filter () and reduce () functions with suitable examples.

In [151]:
#filter
def starts_with_A(s):
    return s[0] == "A"

fruit = ["Apple", "Banana", "Pear", "Apricot", "Orange"]
filter_object = filter(starts_with_A, fruit)

print(list(filter_object))

['Apple', 'Apricot']

In [152]:
#reduce
from functools import reduce

def add(x, y):
    return x + y

list = [2, 4, 7, 3]
print(reduce(add, list))

16