# 1.	WAP to find the value of the following:
a)	7(ln(5)+ln(e3))
b)	1/sin(π/3) + 1/cos(3π/2)

In [ ]:
from math import log, sin, e , pi, cos
x= (7*log(5))+(log(e**3))
print(x)

In [145]:
x= 1/(sin(pi/3))+ 1/(cos(3*pi))
print(x)

0.15470053837925168

# 3.	WAP to demonstrate the use of  trunc( ), floor( ), ceil( ) and round( ) on the following numbers 100.496, 100.59,-100.496, -6.5, 4.25, 8.5 and 9.

In [158]:
from math import floor,ceil, trunc 
a=100.496
b=100.59
c= -a
d= -6.5
e= 4.25
g=9
f=8.5
print(floor(a),floor(b),floor(c),floor(d),floor(e),floor(f),floor(g))
print(ceil(a),ceil(b),ceil(c),ceil(d),ceil(e),ceil(f),ceil(g))  
print(trunc(a),trunc(b),trunc(c),trunc(d),trunc(e),trunc(f),trunc(g)) 
print(round(a),round(b),round(c),round(d),round(e),round(f),round(g))

100 100 -101 -7 4 8 9
101 101 -100 -6 5 9 9
100 100 -100 -6 4 8 9
100 101 -100 -6 4 8 9

# 4.	WAP 
a)	That generates the random numbers in the range 5 to 55. Take the seed value as user input. (import random module)

b)	Find the average of those numbers

In [147]:
import random
x = int(input("enter the seed value"))
random.seed(x)
a =random.randint(5, 55)
b=random.randint(5, 55)
c=random.randint(5, 55)

avg=(a+b+c)/3
print(avg)

enter the seed value3
33.666666666666664

# 6.	From the word “PYTHON”
a)	print the letter "H".

b)  print the first three letters.

c)  print last letter.

d)  reverse the string

In [39]:
X= "PYTHON"
X[3]

'H'

In [41]:
X[:3]

'PYT'

In [42]:
X[5]

'N'

In [49]:
X[5]

'N'

In [53]:
X[::-1]

'NOHTYP'

# 7.	Given the words Learning, python, is, fun, WAP to print the following:

a)	Learning python is fun

b)	LEARNING PYTHON IS FUN

c)	Fun is python learning

d)	nuf si nohtyp gninrael

In [124]:
a,b,c,d,e= 'Learning',"python","is","fun"," "
f= a+e+b+e+c+e+d
print(f)
g= d.capitalize()+e+c+e+b+e+a
print(g)
f= a.upper()+e+b.upper()+e+c.upper()+e+d.upper()
print(f)
print(d[::-1]+e+c[::-1]+e+b[::-1]+e+a[::-1])

Learning python is fun
Fun is python Learning
LEARNING PYTHON IS FUN
nuf si nohtyp gninraeL

# 9.	WAP for demonstrating the arithmetic operations by taking two input values from the keyboard simultaneously. (Use split function)

In [151]:
x,y = input("enter input: ").split()
print((int(x)+int(y)))

enter input: 2 3
5

# 8.	WAP to demonstrate the standard data types in Python and print the size and type of each of them and print them in ascending order.

In [110]:
import sys
r = 5

print(type(r))
a=5.0
b= 2+ 3j
d= "ram"

c= 4>3


print(type(a))
print(type(b))
print(type(c))
print(type(d))


print(sys.getsizeof(a))
print(sys.getsizeof(c))
print(sys.getsizeof(d))
print(sys.getsizeof(b))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'bool'>
<class 'str'>
24
28
52
32

#2.	WAP to return the count of odd numbers between 5 and 50 (both inclusive) using arithmetic operators (without using loops).

In [112]:
list1 = range(5,50)
odd_count = len(list(filter(lambda x: (x%2 != 0) , list1)))
print(odd_count)

23

# 5.	WAP to solve the quadratic equation of the form ax2+bx+c=0, where a, b and c are real numbers and a ≠ 0 (Take a, b and c as user input).

In [142]:
import cmath
a = float(input("enter number "))
b = float(input("enter number "))
c = float(input("enter number "))
if a!= 0 :
    d = (b*b)- (4*a*c)
    x1 = (-b + cmath.sqrt(d))/(2*a)
    x2 = (-b - cmath.sqrt(d))/(2*a)
    print(x1,x2)

enter number 3
enter number 4
enter number 3
(-0.6666666666666666+0.7453559924999299j) (-0.6666666666666666-0.7453559924999299j)